{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="account-img" src="{{ user.profile.image.url }}"/>
            <div class="media-body">
                <h3 class="account-heading">{{ user.username }}</h3>
                <p class="text-secondary">Your email: {{ user.email }}</p>
                <p class="text-secondary">Date of registration: {{ user.date_joined }}</p>
            </div>
        </div>
        <!-- FORM HERE -->
    </div>

{% endblock content %}