{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% load static %}
    <h1>Requests for Your tools:</h1>
    <hr>
    {% for request in requests %}

        <div class="content-section">
            <div class="media">
                <img class="tool-img" src="{{ request.tool.tool_img.url }}">
                <div class="media-body">
                    <h5 class="text-secondary">Tool: {{ request.tool.get_type_display}}</h5>
                    <p class="text-secondary">Send by: {{ request.by_user }}</p>
                    <p class="text-secondary">From: {{ request.from_date }}</p>
                    <p class="text-secondary">To: {{ request.to_date }}</p>
                    <p class="text-secondary">Overall price of renting: <h4>{{ request.rent_price }}$</h4></p>
                    <a href="/reject/{{ request.id }}" class="btn btn-outline-danger ml-1 float-right" type="submit">Reject</a>
                    <a href="/approve/{{ request.id }}" class="btn btn-outline-success ml-1 float-right" type="submit">Approve</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <a class="btn btn-outline-primary" href="/">Back</a>
{% endblock %}
